<!-- Aqui deve ser a página principal. Deve conter uma caixa de pesquisa
e informações sobre o OPTA.
Similiar à página inicial do CATHO. https://www.catho.com.br/ -->
{% extends "base_generic.html" %}

{% block content %}
<a href="{% url "listar_professor" %}">Professor</a>
<a href="{% url "listar_grupo" %}">Grupo</a>
<a href="{% url "listar_projeto" %}">Projeto</a>
<br/>
<h3>Busque Vagas</h3>
<h5>{{ total_vagas }} oportunidades acadêmicas</h5>
<form action="{% url "buscar_oportunidade" %}" method="get">
    <input type="text" name="curso" placeholder="Curso">
    <br/>
    <input type="text" name="palavra_chave" placeholder="Palavra-chave">
    <br/>
    <input type="submit" value="buscar">
</form>
{% endblock %}
