{% extends "base_generic.html" %}

{% block content %}
<h1>Professor</h1>
Nome: {{ professor }}</br>
Email: {{ professor.user.email }}</br>
Área: {{ professor.area }}</br>
Subárea: {{ professor.subarea }}</br>
Lattes: {{ professor.lattes }}</br>
<a href="{% url "atualizar_professor" professor.id %}">Editar Perfil</a></br>
<h1>Grupos</h1>
<ul>
    {% for grupo in grupos %}
    <li>{{ grupo.nome }}  :
    <a href="{% url "atualizar_grupo" professor.id grupo.id %}">Editar</a>
    <a href="{% url "excluir_grupo" professor.id grupo.id %}">Excluir</a>
    <a href="{% url "mostrar_grupo" professor.id grupo.id %}">Ver Grupo</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "criar_grupo" professor.id %}">Novo</a>

{% endblock %}
